<%= render "shared/heading" %>

<!-- This is a comment in HTML -->
<%# This is a comment in Ruby %>
<%#= This is a comment in Ruby %>

<table>
    <thead>
        <td>Name</td>
        <td>Difficulty</td>
    </thead>
    <tbody>
        <% @recipes.each do |recipe| %>
            <tr id="recipe-<%= recipe.id %>">
                <td><%= recipe.name %></td>
                <td><%= recipe.difficulty %></td>
            </tr>
        <% end %>
    </tbody>
</table>
