form.recipe {
  label {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }

  .field.ingredients > label::after {
    content: ' ';
    display: block;
  }
}

.recipe.show {
  .comment {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
}
